@font-face {
   font-family: '汉仪书宋一繁';
   font-display: swap;
   src: url('file:///Users/yangchang/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-07-20_141145/fonts/%E6%B1%89%E4%BB%AA%E4%B9%A6%E5%AE%8B%E4%B8%80%E7%B9%81/font.TTF');
}
